/*Body*/
html, body {
    width: 100%;
}

/*Footer*/

@media (max-width: 650px) {
    footer {
        text-align: center;
    }
}

/*NavBar*/

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #01AED2;
}

.navbar-brand > img {
    width: 150px;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #01AED2;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}



/*Terms of Service Modal*/

#termsOfService {
    color: black;
}

    #termsOfService:hover {
        color: #01AED2;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }



.modal-header .close {
    color: #fff !important;
    font-size: 20px;
    margin-top: -12px;
    position: relative;
    /*right: -690px;*/
    top: -25px;
    background: #01AED2;
    opacity: initial;
    padding: 13px 24px;
}

.modal-header {
    padding-top: 50px;
}


/*Success Bar*/
.alert {
    margin-bottom: 0;
}


/*Carousel Section*/

.carousel-title {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #01AED2;
    /*font-size: 5vw;
    font-weight: 700;*/
    text-align: center;
}

@media (min-width: 601px) {
    .carousel-title {
        font-size: 45px;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    .carousel-title {
        font-size: 25px;
        font-weight: 700;
    }
}

.carousel-description {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 3vw;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media (min-width: 601px) {
    .carousel-description {
        font-size: 25px;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    .carousel-description {
        font-size: 20px;
        font-weight: 700;
    }
}

.top-margin {
    margin-top: 83px;
    /*padding: 0px;*/
}



/*section 2*/

#section2 {
    display: flex;
    align-items: center;
}
/*id section2 used to vertically align items in it*/

.section2 {
    padding: 5% 0;
}

.section2-tab {
    top: 50%;
}

.section2-title {
    color: #01AED2;
    font-size: 2.2vw;
    font-weight: 700;
    text-align: center;
    padding: 1% 15%;
}

@media (max-width: 600px) {
    .section2-title h2 {
        font-size: 35px;
        font-weight: 700;
    }
}

@media (min-width: 601px) {
    .section2-title h2 {
        font-size: 45px;
        font-weight: 700;
    }
}


.section2-description {
    color: #686868;
    font-size: 1.5vw;
    padding: 1% 15%;
    text-align: center;
}

@media (max-width: 600px) {
    .section2-description {
        font-size: 17px;
    }
}

@media (min-width: 601px) {
    .section2-description p {
        font-size: 20px;
    }
}

.btn-axcelButton {
    color: #01AED2;
    font-size: 25px;
    background-color: #fff;
    border-color: #01AED2;
    border-width: 3px;
    border-radius: 0;
    font-weight: 700;
    /*height: 60px;*/
    padding: 20px 40px;
}

    .btn-axcelButton:hover {
        color: #fff;
        font-size: 25px;
        background-color: #01AED2;
        border-color: #01AED2;
    }

.getAQuoteBtn {
    text-align: center;
}


/*Testimonial Section*/
.testimonial-section {
    padding: 50px 0;
    background: #01AED2;
}

    .testimonial-section h2 {
        color: white;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        padding: 0 15% 3% 15%;
    }

@media (min-width: 601px) {
    .testimonial-section {
        padding: 100px 0;
    }

        .testimonial-section h2 {
            font-size: 45px;
            font-weight: 700;
        }
}

.card text-white {
    background: none;
}

.overlay {
    opacity: 0;
    transition: 0.75s;
    display: flex;
    align-items: center;
}

    .overlay:hover {
        opacity: 1;
        background: rgba(128, 128, 128,0.7);
    }

.client-signature {
    text-align: right;
}

@media (max-width: 600px) {
    .cards {
        margin-bottom: 20px;
    }
}

@media (min-width: 601px) {
    .cards {
        margin-bottom: 50px;
    }

    .overlay h5 {
        font-size: 14px;
    }

    .overlay p {
        font-size: 12px;
    }
}

@media (min-width: 1440px) {
    .cards {
        margin-bottom: 50px;
    }

    .overlay h5 {
        font-size: 20px;
    }

    .overlay p {
        font-size: 16px;
    }
}


.gMap-col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



/*Get In Touch section*/
.section-getInTouch {
    padding: 10% 0 5% 0;
}

.section-getInTouch-title {
    color: #01AED2;
    font-size: 2.2vw;
    font-weight: 700;
    text-align: center;
    padding: 0 15% 3% 15%;
}

.section-getInTouch-DescriptionTitle {
    color: #114369;
    /*text-align: right;*/
    font-weight: 700;
}

.section-GetInTouch-description {
}

@media (max-width: 600px) {
    .section-getInTouch-title h2 {
        font-size: 35px;
        font-weight: 700;
    }

    .section-getInTouch-DescriptionTitle {
        text-align: center;
    }

    .section-GetInTouch-description {
        text-align: center;
    }
}

@media (min-width: 601px) {
    .section-getInTouch-title h2 {
        font-size: 45px;
        font-weight: 700;
    }
}





/*Location Section*/
#map {
    height: 600px;
    width: 100%;
    z-index: 1;
}


#location-card {
    position: absolute;
    width: 30%;
    height: 60%;
    z-index: 10;
    right: 0;
    margin-right: 5%;
    margin-top: -550px;
    background: #01AED2;
}


/*Contact us Section*/
.contactUs h1 {
    text-align: center;
}

.contactUs-title {
    color: #01AED2;
    font-size: 2.2vw;
    font-weight: 700;
    text-align: center;
    padding: 5% 10%;
}

@media (max-width: 600px) {
    .contactUs-title {
        padding: 10% 10%;
    }

        .contactUs-title h2 {
            font-size: 35px;
            font-weight: 700;
        }
}

@media (min-width: 601px) {
    .contactUs-title h2 {
        font-size: 45px;
        font-weight: 700;
    }
}

input,
select,
textarea {
    max-width: 500px;
}

.bigTextArea {
    padding: 20px 0;
    margin-top: 20px;
}

.form-error {
    color: #F65D7B;
    font-size: 14px;
}

.form-group {
    margin-bottom: 0;
    padding: 20px 0;
}

.form-radiobtn {
    display: inline;
}

.btn-wrapper {
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    .btn-wrapper {
        padding: 20px;
    }
}


.btn-primary {
    color: #fff;
    font-size: 25px;
    background-color: #01AED2;
    border-color: #01AED2;
    height: 60px;
    /*width: 150px*/
}

    .btn-primary:hover {
        color: #fff;
        font-size: 20px;
        background-color: #114369;
        border-color: #114369;
    }

.form-control {
    border: none;
    border-bottom: 1.5px solid #114369;
    border-radius: 0;
}

    .form-control:focus {
        border: none;
        box-shadow: none;
        border-bottom: 1.5px solid #01AED2;
    }


.contactUs-Form div {
    position: relative;
}

.contactUs-Form label {
    font-weight: 500;
}

.moving-label {
    position: absolute;
    top: 10px;
    pointer-events: none;
    z-index: 10;
    color: #999;
    transition: 0.5s;
}


.contactUs-Form input:focus + label,
.contactUs-Form textarea:focus + label,
.contactUs-Form input:valid + label,
.contactUs-Form textarea:valid + label {
    position: absolute;
    top: -12px;
    color: #01AED2;
    font-size: 14px;
    font-weight: 600;
}

.radiobtn_label_blue {
    color: #01AED2;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 600px) {
    .form-group {
        margin-bottom: 0;
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .col-xs-12 {
        margin-bottom: 1em;
        padding: 10px 0;
    }

    .moving-label {
        top: 20px;
    }

    .bigTextArea {
        padding: 0;
        margin-top: 0;
    }
}

.g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
/*resize recaptcha dynamically*/

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

#recaptcha-error-msg {
    display: none;
}

.recaptcha-div {
    text-align: left;
}





/*Financial Services Pgs*/
@media (max-width: 426px) {
    .finSvcs-overlay {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 700;
        font-size: 35px;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
}

@media (min-width: 426px) and (max-width: 767px) {

    .finSvcs-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 700;
        font-size: 35px;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
}


@media (min-width: 768px) {

    .finSvcs-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 700;
        font-size: 70px;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
}


/*specifically for govt Assisted Schemes & personal loan solutions since it's too long*/
.finSvcs-overlay-govtAssist {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
    color: white;
    font-weight: 700;
    font-size: 70px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media (max-width: 426px) {
    .finSvcs-overlay-govtAssist {
        font-size: 30px;
        top: 30%;
        left: 20%;
    }
}

@media (min-width: 426px) and (max-width: 769px) {
    .finSvcs-overlay-govtAssist {
        font-size: 35px;
        top: 45%;
        left: 30%;
    }
}

@media (min-width: 768px) {
    .finSvcs-overlay-govtAssist {
        font-size: 70px;
    }
}



.finSvcs-description {
    color: #686868;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 10%;
}

    .finSvcs-description h2 {
        border-bottom: 20px;
    }

@media (max-width: 426px) {
    .finSvcs-description {
        text-align: center;
    }

        .finSvcs-description h2 {
            font-size: 20px;
        }
}


.finSvcs-wrapper {
    padding: 7% 0;
}

.finSvcs-scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

    .finSvcs-scroll a:hover {
        opacity: .5;
    }


#scroller a {
    padding-top: 70px;
}

@media (max-width: 769px) {
    #scroller {
        display: none;
    }
}

#scroller a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}


.btn-axcelButtonSvcsPgs {
    color: #01AED2;
    font-size: 25px;
    background-color: #fff;
    border-color: #01AED2;
    border-width: 3px;
    border-radius: 0;
    font-weight: 700;
    /*height: 60px;*/
    padding: 20px 40px;
}

    .btn-axcelButtonSvcsPgs:hover {
        color: #fff;
        font-size: 25px;
        background-color: #01AED2;
        border-color: #01AED2;
    }

@media (max-width: 426px) {
    .btn-axcelButtonSvcsPgs {
        color: #01AED2;
        font-size: 15px;
        background-color: #fff;
        border-color: #01AED2;
        border-width: 3px;
        border-radius: 0;
        font-weight: 700;
        /*height: 60px;*/
        padding: 10px 20px;
    }
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
