/*Body*/
html, body {
    width: 100%;
}


/*NavBar*/ 

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #01AED2;
}

.navbar-brand > img {
    width: 150px;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #01AED2;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}



/*Terms of Service Modal*/

#termsOfService {
    color: black;
}

    #termsOfService:hover {
        color: #01AED2;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }



.modal-header .close {
    color: #fff !important;
    font-size: 20px;
    margin-top: -12px;
    position: relative;
    /*right: -690px;*/
    top: -25px;
    background: #01AED2;
    opacity: initial;
    padding: 13px 24px;
}

.modal-header {
    padding-top: 50px;
}


/*Carousel Section*/

.carousel-title {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #01AED2;
    /*font-size: 5vw;
    font-weight: bold;*/
    text-align: center;
}

@media (min-width: 601px) {
    .carousel-title {
        font-size: 45px;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .carousel-title {
        font-size: 25px;
        font-weight: bold;
    }
}

.carousel-description {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 3vw;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media (min-width: 601px) {
    .carousel-description {
        font-size: 25px;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .carousel-description {
        font-size: 20px;
        font-weight: bold;
    }
}

.carousel-section {
    margin-top: 80px;
    /*padding: 0px;*/
}


/*section 2*/

.section2 {
    padding: 10% 0;
}

.section2-title {
    color: #01AED2;
    font-size: 2.2vw;
    font-weight: bold;
    text-align: left;
    padding: 1% 15%;
}

@media (max-width: 600px) {
    .section2-title h2 {
        font-size: 35px;
        font-weight: bold;
    }
}

@media (min-width: 601px) {
    .section2-title h2 {
        font-size: 45px;
        font-weight: bold;
    }
}


.section2-description {
    color: #686868;
    font-size: 1.5vw;
    padding: 1% 15%;
}

@media (max-width: 600px) {
    .section2-description {
        font-size: 17px;
    }
}

@media (min-width: 601px) {
    .section2-description p {
        font-size: 20px;
    }
}




/*Testimonial Section*/
.testimonial-section {
    padding: 100px 0;
    background: #01AED2;
}

.gMap-col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/*Location Section*/

#map {
    height: 600px;
    width: 100%;
    z-index: 1;
}


#location-card {
    position: absolute;
    width: 30%;
    height: 60%;
    z-index: 10;
    right: 0;
    margin-right: 5%;
    margin-top: -550px;
    background: #01AED2;
}


/*Contact us Section*/
input,
select,
textarea {
    max-width: 500px;
}

.container .contactUs h1 {
    text-align: center;
}