
@{
    ViewBag.Title = "BusinessFinancing";
}


<div class="top-margin"></div>


<div>

    <img class="img-fluid" src="~/Images/fin_businessFinance.jpg" />
    <div class="finSvcs-overlay">Business Financing</div>
    <div id="scroller" class="finSvcs-scroll">
        <a href="#finSvcs-wrapper"><span></span>Scroll</a>
    </div>
</div>

<div class="finSvcs-wrapper" id="finSvcs-wrapper">
    <div class="container">
        <div class="finSvcs-description">
            <h2>
                Are you are combing the market for unsecured business loans, a business overdraft, trade facilities, trust receipts, banker’s guarantees, factoring or private financing?
                <br />
                <br />
                AxcelCapital is able to connect you with the right banks and financial institutions to serve your needs.
            </h2>
        </div>
        <div>
            <div class="getAQuoteBtn">
                <a href="@Url.Action("Index", "Home")#contactUs" class="btn btn-axcelButtonSvcsPgs">Speak with AxcelCapital today</a>
            </div>
        </div>
    </div>
</div>



