
@{
    ViewBag.Title = "GovtAssistedSchemes";
}


<div class="top-margin"></div>


<div>

    <img class="img-fluid" src="~/Images/fin_governmentAssist.jpg" />
    <div class="finSvcs-overlay-govtAssist">Government Assisted Schemes</div>
    <div id="scroller" class="finSvcs-scroll">
        <a href="#finSvcs-wrapper"><span></span>Scroll</a>
    </div>
</div>

<div class="finSvcs-wrapper" id="finSvcs-wrapper">
    <div class="container">
        <div class="finSvcs-description">
            <h2>
                Looking for some Government Assisted Loans such as the Micro Loan Programme, Local Enterprise Finance Scheme or the Loan Insurance Scheme (LIS / LIS+)?
                <br />
                <br />
                Chat with an AxcelCapital Consultant for advice on what schemes you are eligible for.
            </h2>
        </div>
        <div>
            <div class="getAQuoteBtn">
                <a href="@Url.Action("Index", "Home")#contactUs" class="btn btn-axcelButtonSvcsPgs">Speak with AxcelCapital today</a>
            </div>
        </div>
    </div>
</div>




