
@{
    ViewBag.Title = "InvoiceFinancing";
}


<div class="top-margin"></div>


<div>

    <img class="img-fluid" src="~/Images/fin_invoiceFinance.jpg" />
    <div class="finSvcs-overlay">Invoice Financing</div>
    <div id="scroller" class="finSvcs-scroll">
        <a href="#finSvcs-wrapper"><span></span>Scroll</a>
    </div>
</div>

<div class="finSvcs-wrapper" id="finSvcs-wrapper">
    <div class="container">
        <div class="finSvcs-description">
            <h2>
                If you would like to improve your cashflow while waiting for customers to make good on your invoices, you can sell your invoices to banks or other financial institutions at a discount for cash on hand.
                <br />
                <br />
                AxcelCapital will help you find the best rates in the market.
            </h2>
        </div>
        <div>
            <div class="getAQuoteBtn">
                <a href="@Url.Action("Index", "Home")#contactUs" class="btn btn-axcelButtonSvcsPgs">Speak with AxcelCapital today</a>
            </div>
        </div>
    </div>
</div>
